.checklist{
    position: relative;
    top: 3px;
    left: 3px;
}
.label_select {
    font-size: 14px;
}
.text_task{
    font-size: 14px;
    width: 83%;
    display: inline;
}
#add_task{
    width: 15%;
    display: inline;
    height: 31px;
}
#delete_task{
    width: 30px;
    position: absolute;
    left: 2px;
    top: 1px;
}